@import '../styles/breakpoints.scss';
@import '../styles/spaces.scss';

.brand {
    padding: $space * 2;
    svg {
        width: 80px;
        @media only screen and (min-width: $breakpoint-md ) {
            width: 100px;
        }
    }
}