@import '../styles/breakpoints.scss';

.brand {
    padding: 20px;
    svg {
        width: 80px;
        @media only screen and (min-width: $breakpoint-md ) {
            width: 120px;
            height: 60px;
        }
    }
}